form {
  margin: 0px;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 20px;
  margin: 30px 0;
}

.day-bold {
  font-weight: bold;
}

.background {
  background-image: url("../images/sun-desert.jpg");
  background-size: cover;
  border: 3px;
  border-radius: 20px;
  box-shadow: 20px 30px 50px rgba(65, 50, 100, 0.3);
  display: block;
  margin: 20px auto;
  max-width: 90%;
  max-height: 70%;
  padding: 25px 50px 40px;
}

.container {
  backdrop-filter: blur(2px);
  background-image: linear-gradient
    (90deg rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 1) 100%);
  border: 3px;
  border-radius: 30px;
  box-shadow: 20px 30px 20px rgba(65, 50, 100, 0.25);
  margin: 20px auto;
  max-width: 75%;
  padding: 25px 50px 40px;
}

.units .active {
  color: rgba(0, 0, 0, 0.9);
  cursor: default;
}

.units .active:hover {
  color: rgba(0, 0, 0, 0.9);
  cursor: default;
}

.units {
  position: relative;
  bottom: 33px;
  font-size: 40px;
}

.open-source {
  text-decoration: none;
  text-align: center;
  color: black;
  transition: all 200ms ease-in-out;
  display: block;
  margin: 0 auto;
  font-size: 12px;
}

.celcius-unit,
.fahrenheit-unit,
.geolocation,
.github-link,
.linkedin-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  transition: all 200ms ease-in-out;
}

.celcius-unit:hover,
.fahrenheit-unit:hover,
.geolocation:hover,
.github-link:hover,
.linkedin-link:hover {
  color: rgba(0, 0, 0, 0.9);
}

.current-location {
  font-size: 40px;
}

.additional-weather-info {
  margin-bottom: 40px;
  vertical-align: baseline;
}

.entire-forecast-section {
  text-align: center;
}
